<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boystark.study.mapper.UserMapper">
    <select id="findUserById" resultType="com.boystark.study.entity.User">
        SELECT *
        FROM `t_user`
        WHERE id = #{id} LIMIT 1;
    </select>
    <select id="userList" resultType="com.boystark.study.entity.User">
        SELECT *
        FROM `t_user`
        ORDER BY `id` LIMIT #{limit}
    </select>
</mapper>
